
.chat-box {
    border: 1px solid black;
    border-radius: 15px;
    width: 50%;
    margin: 0 auto;
    height: 500px;
    padding-left: 30px;
    padding-top: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
}